@page
@model HousePointsApp.AdminModel
@{
    ViewData["Title"] = "Admin";
    ViewData["UserName"] = "";
    ViewData["CurrentPoint"] = "No User selected";
    ViewData["ChangeValueLabel"] = "Set Point to";
    ViewData["DropDownLabel"] = "Actions";
}


<!-- Content section -->
<!-- $('#datebox').val($(this).html());-->
    <div class="container-fluid">
        <h1>Welcome to Learning Factory Admin Page</h1>

        @{
            if (Model.DisplayMessage != null & Model.DisplayMessage != "")
            {
                <h4>Message: @Model.DisplayMessage</h4>
            }
        }
        @{      
            //Determine Message to display
            String StudentActionMessage = "Student Actions";
            String PrizeActionMessage = "Prize Actions";
            String ValueFieldLabel = "Set Point to";
            try
            {
                if (TempData["Action"] != null)
                {
                    String CurrentAction = TempData["Action"].ToString();
                    TempData.Keep("Action");
                    switch (CurrentAction)
                    {
                    case "CheckBalance":
                        StudentActionMessage = "Check Point Balances";
                        ValueFieldLabel = "No Input Needed";
                        break;
                    case "SetPoint":
                        StudentActionMessage = "Set Point Balances";
                        ValueFieldLabel = "Set Point to";
                        break;
                    case "IncreasePoint":
                        StudentActionMessage = "Increase/Award Points";
                        ValueFieldLabel = "Increase Point By";
                        break;
                    case "DecreasePoint":
                        StudentActionMessage = "Decrease/Redeem Points";
                        ValueFieldLabel = "Decrease Point by";
                        break;
                    case "DeleteAccount":
                        StudentActionMessage = "Delete Account";
                        ValueFieldLabel = "No Input Needed";
                        break;
                    case "SetPrize":
                        PrizeActionMessage = "Set Value of Existing Prize";
                        ValueFieldLabel = "Set Prize Value to";
                        break;
                    case "AddPrize":
                        PrizeActionMessage = "Add New Prize";
                        ValueFieldLabel = "Set Prize Value to";
                        break;
                    case "DeletePrize":
                        PrizeActionMessage = "Delete Existing Prize";
                        ValueFieldLabel = "No Input Needed";
                        break;
                    default:
                        break;
                    }
                }
            }
            catch
            {
                // do nothing, use default value defined before;
            }

            <p>The two dropdowns below have a list of actions related to managing student data and prize data respectively.
                Once you select the action you'd like to complete, enter the ID for the student/prize you are working with
                and the prompted input in the text boxes below.</p>

            <form asp-page-handler="Submit" method="post" asp-antiforgery="true">
                <div class="form-row text-left">
                    <div class="column">
                        <div class="row">
                            <div class="dropdown">
                                <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownActionMenu"
                                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <span id="selected">@StudentActionMessage</span>
                                    <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu" aria-labelledby="dropdownActionMenu" role="menu">
                                    <li>
                                        <button class="btn btn-secondary" style="width:200px;" value="Check Point Balances" asp-page-handler="CheckBalance">Check Point Balances</button>
                                    </li>
                                    <li>
                                        <button class="btn btn-secondary" style="width:200px;" value="Increase/Award Points" asp-page-handler="IncreasePoint">Increase/Award Points</button>
                                    </li>
                                    <li>
                                        <button class="btn btn-secondary" style="width:200px;" value="Decrease/Redeem Points" asp-page-handler="DecreasePoint">Decrease/Redeem Points</button>
                                    </li>
                                    <li>
                                        <button class="btn btn-secondary" style="width:200px;" value="Set Point Balance" asp-page-handler="SetPoint">Set Point Balance</button>
                                    </li>
                                    <li>
                                        <button class="btn btn-secondary" style="width:200px;" value="Delete Account" asp-page-handler="DeleteAccount">Delete Account</button>
                                    </li>
                                </ul>
                            </div>

                            <style>
                                .btn-primary
                                {
                                    margin:20px;
                                }
                                .btn-secondary
                                {
                                    margin:20px;
                                }
                             </style>
                           

                            <div class="dropdown">
                                <button class="btn btn-primary dropdown-toggle" type="button" id="prizeActionMenu"
                                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <span id="selected">@PrizeActionMessage</span>
                                    <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu" aria-labelledby="prizeActionMenu" role="menu">
                                    <li>
                                        <button class="btn btn-secondary" style="width:200px;" value="AddPrize" asp-page-handler="AddPrize">Add New Prize</button>
                                    </li>
                                    <li>
                                        <button class="btn btn-secondary" style="width:200px;" value="SetPrize" asp-page-handler="SetPrize">Set Value of Existing Prize</button>
                                    </li>
                                    <li>
                                        <button class="btn btn-secondary" style="width:200px;" value="DeletePrize" asp-page-handler="DeletePrize">Delete Existing Prize</button>
                                    </li>
                                </ul>
                            </div>
                        </div>

                       

                        <div class="row" style="margin:20px">
                            <label asp-for="UID">Student/Prize ID:</label>
                            <input asp-for="UID" type="text" placeholder="Enter Here" />
                        </div>
                        <div class="row">
                            <label for="">@Model.PointMessage</label>
                        </div>
                        <div class="row" style="margin:20px">
                            <label asp-for="ChangeValue">@ValueFieldLabel:</label>
                            <input asp-for="ChangeValue" type="number"
                                   placeholder="Enter Value" />
                        </div>
                        <div class="row">
                            <button class="btn btn-primary" ID="6" type="submit">Submit</button>
                            <button class="btn btn-primary" type="reset">Reset</button>
                        </div>
                        <div class="row">
                            <button class="btn btn-secondary" style="width:150px;" value="Logout" asp-page-handler="Logout">Logout</button>
                        </div>
                    </div>
                </div>
            </form>
        }
        @if (Model.PrizeNameList != null && Model.PrizeValueList != null)
        {
            <div class="container mb-5 mt-3">
                <h3>Prize List</h3>

                <table class="table table-striped table-bordered" style="width: 100%">
                    <thead>
                        <tr>
                            <th>Prize Name</th>
                            <th>Points Value</th>
                        </tr>
                    </thead>
                    <tbody>
                        @for (var i = 0; i < Model.PrizeNameList.Count(); i++)
                        {
                            <tr>
                                <th>@Model.PrizeNameList[i]</th>
                                <th>@Model.PrizeValueList[i]</th>
                            </tr>
                        }
                    </tbody>
                    <tfoot></tfoot>
                </table>

            </div>
        }

    </div>
