@page
@model HousePointsApp.AdminModel
@{
    ViewData["Title"] = "Admin";
    ViewData["UserName"] = "";
    ViewData["CurrentPoint"] = "No User selected";
    ViewData["ChangeValueLabel"] = "Set Point to";
    ViewData["DropDownLabel"] = "Actions";
}


<!-- Content section -->
<!-- $('#datebox').val($(this).html());-->
    <div class="container-fluid">
        <h1>Welcome to Learning Factory Admin Page</h1>

        @{
            if (Model.DisplayMessage != null & Model.DisplayMessage != "")
            {
                <h3>Message: @Model.DisplayMessage</h3>
            }
            if (Model.PrizeList != null && Model.PrizeList != "")
            {
                <p>@Model.PrizeList</p>
            }
        }
        <form asp-page-handler="Submit" method="post">
            <div class="form-row text-left">
                <div class="col">
                    <div class="dropdown">
                        <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownActionMenu"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span id="selected">@Model.DropDownMessage</span>
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="dropdownActionMenu" role="menu">
                            <li>
                                <button class="btn btn-secondary" style="width:200px;" value="Check Point Balances" asp-page-handler="CheckBalance">Check Point Balances</button>
                            </li>
                            <li>
                                <button class="btn btn-secondary" style="width:200px;" value="Increase/Award Points" asp-page-handler="IncreasePoint">Increase/Award Points</button>
                            </li>
                            <li>
                                <button class="btn btn-secondary" style="width:200px;" value="Decrease/Redeem Points" asp-page-handler="DecreasePoint">Decrease/Redeem Points</button>
                            </li>
                            <li>
                                <button class="btn btn-secondary" style="width:200px;" value="Set Point Balance" asp-page-handler="SetPoint">Set Point Balance</button>
                            </li>
                            <li>
                                <button class="btn btn-secondary" style="width:200px;" value="Delete Account" asp-page-handler="DeleteAccount">Delete Account</button>
                            </li>
                        </ul>
                    </div>

                    <div class="dropdown">
                        <button class="btn btn-primary dropdown-toggle" type="button" id="prizeActionMenu"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span id="selected">@Model.PrizeMessage</span>
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="prizeActionMenu" role="menu">
                            <li>
                                <button class="btn btn-secondary" style="width:200px;" value="AddPrize" asp-page-handler="AddPrize">Add New Prize</button>
                            </li>
                            <li>
                                <button class="btn btn-secondary" style="width:200px;" value="SetPrize" asp-page-handler="SetPrize">Set Value of Existing Prize</button>
                            </li>
                            <li>
                                <button class="btn btn-secondary" style="width:200px;" value="DeletePrize" asp-page-handler="DeletePrize">Delete Existing Prize</button>
                            </li>
                        </ul>
                    </div>

                    <div class="row">
                        <label asp-for="UID">Choose @Model.Actiontype to work on:</label>
                        <input asp-for="UID" type="text" placeholder="PSU ID Here" />
                    </div>
                    <div class="row">
                        <label for="">@Model.PointMessage</label>
                    </div>
                    <div class="row">
                        <label asp-for="ChangeValue">@Model.ChangeValueLabel:</label>
                        <input asp-for="ChangeValue" type="number"
                               placeholder="Enter Value" />
                    </div>
                    <div class="row">
                        <button class="btn btn-primary" ID="6" type="submit">Submit</button>
                        <button class="btn btn-primary" type="reset">Reset</button>
                    </div>
                </div>
            </div>
        </form>

    </div>
